<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/ideias.css">
    <title>Ideias</title>
</head>
<body id="page-ideias">
  <div id="container">
    <header>
        <a href="/">

            <img src="/src/undefined - Imgur.png" alt="">
        </a>
        <nav>
            <li><a href="/">Inicio</a></li>
            <li><a href="#" onclick="onOff()">Nova ideia</a></li>
        </nav>

    </header>
    <section id="title">
        <p>em exibição</p>
        <h1>Ideias</h1>
    </section>

    <main>
        <section id="ideias">
          {% include "all_ideas.html" %}
          </section>
    
    </main>
    <footer>
        <p>Com ♥️ <a href="https://www.linkedin.com/in/guibson-ravelly-4a2700140/" target="_blank">Guibson Ravelly</a></p>
    </footer>
  </div>

  {% include "modal.html" %}
  
      <script src="./button.js"></script>
</body>
</html>